<a href="https://colab.research.google.com/github/N111N3/univesp-CD/blob/master/COM110/semana2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **COM110 - Algoritmos e Programação de Computadores I**

## **Semana 2: Tipos de Dados (Parte 1)**


Prática de exercícios da semana, retirados do livro [*Introdução a Computação Usando Python*](https://integrada.minhabiblioteca.com.br/reader/books/9788521630937/), de Ljubomir Perkovic.

###**Exercício 1**

Escreva expressões algébricas Python correspondentes aos seguintes comandos:

**a.** A soma dos 5 primeiros inteiros positivos.

In [17]:
def soma_numeros_positivos(quantidade):
    numeros_somados = []
    soma = 0
    for numero in range(1,quantidade+1):
        numeros_somados.append(numero)
        soma += numero

    print(f'A soma dos {quantidade} primeiros inteiros positivos é: {soma}.')

soma_numeros_positivos(5)

A soma dos 5 primeiros inteiros positivos é: 15.

**b.** A idade média de Sara (idade 23), Mark (idade 19) e Fátima (idade 31).

In [19]:
sara = 23
mark = 19
fatima = 31

media = int((sara + mark + fatima) / 3)

print(f'A média das idades é: {media}.')

A média das idades é: 24.

**c.** O número de vezes que 73 cabe em 403.

In [21]:
recipiente = 403
conteudo = 73
quantas_vezes = recipiente // conteudo

print(f'O número {recipiente} cabe {quantas_vezes} vezes em {conteudo}.')

O número 403 cabe 5 em 73.

**d.** O resto de quando 403 é dividido por 73.

In [22]:
recipiente = 403
conteudo = 73
resto = recipiente % conteudo

print(f'Sobra {resto} quando {recipiente} é divido por {conteudo}.')

Sobra 38 quando 403 é divido por 73.

**e.** 2 à 10ª potência.

In [24]:
def potenciador(base,expoente):
    resultado = base ** expoente

    print(f'O número {base} elevado a {expoente} é {resultado}')


potenciador(3,10)

O número 3 elevado a 10 é 59049

**f.** O valor absoluto da distância entre a altura de Sara (54 polegadas) e a altura de Mark (57 polegadas).

In [25]:
mark = 57
sara = 54

distancia = mark - sara

print(f'O valor absoluto da distância entre Sara e Mark é: {distancia} polegadas.')

O valor absoluto da distância entre Sara e Mark é: 3 polegadas.

**g.** O menor preço entre os seguintes preços: R$ 34,99, R$ 29,95 e R$ 31,50.

In [27]:
precos = [34.99, 29.95, 31.50]

print(f'O maior preço é: R$ {max(precos)}')

O maior preço é: R$ 34.99

###**Exercício 2**  


Traduza os comandos a seguir para expressões Booleanas em Python e avalie-as:

**a.** A soma de 2 e 2 é menor que 4.

In [61]:
operacao = 2 + 2
avaliacao = False

if operacao < 4:
    avaliacao = True

print(avaliacao)

False

**b.** O valor de 7 // 3 é igual a 1 + 1.

In [62]:
operacao = 7 // 3
avaliacao = False

if operacao == (1 + 1):
    avaliacao = True

print(avaliacao)

True

**c.** A soma de 3 ao quadrado e 4 ao quadrado é igual a 25.

In [63]:
operacao = (3 ** 2) + (4 ** 2)
avaliacao = False

if operacao == 25:
    avaliacao = True

print(avaliacao)

True

**d.** A soma de 2, 4 e 6 é maior que 12.

In [64]:
operacao = 2 + 4 + 6
avaliacao = False

if operacao > 12:
    avaliacao = True

print(avaliacao)

False

**e.** 1387 é divisível por 19.

In [65]:
operacao = 1387 % 19
avaliacao = False

if operacao == 0:
    avaliacao = True

print(avaliacao)

True

**f.** 31 é par. (Dica: o que o resto lhe diz quando você divide por 2?)

In [66]:
operacao = 31 % 2
avaliacao = False

if operacao == 0:
    avaliacao = True

print(avaliacao)

False

**g.** O preço mais baixo dentre 34.99, 29.95 e 31.50 é menor que 30.00 reais.

In [67]:
operacao = [34.99, 29.95, 31.50]
avaliacao = False

if min(operacao) < 30.00:
    avaliacao = True

print(avaliacao)

True

###**Exercício 3**

Escreva instruções Python que correspondem às ações a seguir e execute-as:

**a.** Atribua o valor inteiro 3 à variável a.

In [47]:
a = 3

**b.** Atribua 4 à variável b.

In [48]:
b = 4

**c.** Atribua à variável c o valor da expressão a * a + b * b.

In [51]:
c = a * a + b * b
print(c)

25

###**Exercício 4**

Comece executando as instruções de atribuição:

s1 = 'ant'  
s2 = 'bat'  
s3 = 'cod'
            
Escreva expressões Python usando s1, s2 e s3 e os operadores + e * a fim de
avaliar para:

In [39]:
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'

**a.** 'ant bat cod'

In [41]:
expressao = s1 + ' ' + s2 + ' ' + s3

print(expressao)

ant bat cod

**b.** 'ant ant ant ant ant ant ant ant ant ant'

In [42]:
expressao = (s1 + ' ')* 10

print(expressao)

ant ant ant ant ant ant ant ant ant ant

**c.** 'ant bat bat cod cod cod'

In [43]:
expressao = s1 + ' ' + (s2 + ' ') * 2 + (s3 + ' ')* 3

print(expressao)

ant bat bat cod cod cod

**d.** 'ant bat ant bat ant bat ant bat ant bat ant bat ant bat'

In [45]:
expressao = (s1 + ' ' + s2 + ' ') * 7

print(expressao)

ant bat ant bat ant bat ant bat ant bat ant bat ant bat

**e.** 'batbatcod batbatcod batbatcod batbatcod batbatcod'

In [46]:
expressao = (s2 * 2 + s3 + ' ') * 5

print(expressao)

batbatcod batbatcod batbatcod batbatcod batbatcod

###**Exercício 5**

Comece executando a atribuição:

s = '0123456789'

Agora, escreva expressões usando a string s e o operador de indexação que é
avaliado como:

In [53]:
s = '0123456789'

**a.** '0'

In [54]:
s[0]

'0'

**b.** '1'

In [55]:
s[1]

'1'

**c.** '6'

In [56]:
s[6]

'6'

**d.** '8'

In [57]:
s[8]

'8'

**e.** '9'

In [58]:
s[9]

'9'